<html>
	<head>
		<title>retro-soviet-calculator</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Russo+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="calc" ng-app="appleCalculator" ng-controller="Calculator">
			<div class="top-part">
				<a href="https://www.google.ru/search?q=%D0%BA%D0%B0%D0%BB%D1%8C%D0%BA%D1%83%D0%BB%D1%8F%D1%82%D0%BE%D1%80+%D1%81%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%B8%D0%B9&newwindow=1&espv=2&biw=1920&bih=955&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjU8MvFtZzLAhWBFSwKHV3UA3oQ_AUIBigB#newwindow=1&tbm=isch&q=%D0%AD%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%B8%D0%BA%D0%B0+%D0%A13-22" target="_blank">Электроника С3-22</a>
				<div class="back-toppart"></div>
			</div>
			<div class="window">
				<div class="result">
					<input class="readout" readonly disabled ng-model="console" maxlength="10">
					<input class="placehold" type='readonly' disabled placeholder="888888888888888">
				</div>
				<div class="plane"></div>
			</div>
			<div class="section one">
				<button class="key" ng-click="clearTotal()"><div class="key_before">СП</div></button>
				<button class="key"><div class="key_before">П+</div></button>
				<button class="key"><div class="key_before">ИП</div></button>
				<button class="key_red" ng-click="clearTotal()"><div class="key_before_red">Сх</div></button>
			</div>
			<div class="section two">
				<button class="key" ng-click="print(7)"><div class="key_before">7</div></button>
				<button class="key" ng-click="print(8)"><div class="key_before">8</div></button>
				<button class="key" ng-click="print(9)"><div class="key_before">9</div></button>
				<button class="key" ng-click="print(4)"><div class="key_before">4</div></button>
				<button class="key" ng-click="print(5)"><div class="key_before">5</div></button>
				<button class="key" ng-click="print(6)"><div class="key_before">6</div></button>
				<button class="key" ng-click="print(1)"><div class="key_before">1</div></button>
				<button class="key" ng-click="print(2)"><div class="key_before">2</div></button>
				<button class="key" ng-click="print(3)"><div class="key_before">3</div></button>

				<button class="key_long" ng-click="print(0)"><div class="key_before_long">0</div></button>
				<button class="key" ng-click="print('.')"><div class="key_before">,</div></button>
			</div>
			<div class="section three">
				<button class="key" ng-click="add()"><div class="key_before">+</div></button>
				<button class="key" ng-click="getPercentage()"><div class="key_before">%</div></button>
				<button class="key" ng-click="subtract()"><div class="key_before">-</div></button>
				<button class="key" ng-click="changePositivity()"><div class="key_before">/-/</div></button>
				<button class="key_vertical" ng-click="equal()"><div class="key_before_vertical">=</div></button>
				<button class="key" ng-click="multiply()"><div class="key_before">×</div></button>
				<button class="key" ng-click="divide()"><div class="key_before">÷</div></button>
			</div>
			<div class="btm-part"></div>
		</div>
	<script src="script.js"></script>
	</body>
</html>
